[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"

[packages]
ask-sdk-core = "==1.13.0"
requests = "*"
pytz = "*"
ask-sdk = "*"

[requires]
python_version = "3.7"
